@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

/*Menu de Navegacion*/

header{
    background-color: rgb(32, 73, 165); 
    padding: 10px;

}

.navbar-brand{
    color: white;
}

nav{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

nav a{
    text-decoration: none;
    font-weight: lighter;
    padding: 5px;
}

.menu{
    display: flex;
}

/* texto general */

header{
    border-top: 5px solid;
    border-color: rgb(32, 73, 165);
}

body{
    background-color: white;
    color: black;
    font-family:  'Inter', sans-serif;
}

main{
    padding: 0px 30px 0px 30px
}


footer{
    text-align: end;
    border-top: 5px solid;
    border-color: rgb(32, 73, 165);
}

/*Flexbox en pagina Nosotros */

.cajas{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 20px;
    justify-content: center;

} 


.caja  {
    width: 300px;
    height: 300px;
}
.caja img{
    width: 100%;
    height: 300px;
}

.c1{
    background-color: rgb(163, 163, 165);
}

.c2{
    background-color: rgb(163, 163, 165);
}

.c3{
    background-color: rgb(163, 163, 165);
}

.c4{
    background-color: rgb(163, 163, 165);
}

/*Grid en pagina Servicio */





/* */


/* */

/* formato lista */



/*Mediaqueri*/

/*@media(max-width:1280px)